# A string used to distinguish different Supabase projects on the same host.
project_id = "freelance-flow"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
enable_signup = true
enable_email_confirmations = true
enable_email_autoconfirm = false

[auth.email]
enable_signup = true
enable_confirmations = true

[auth.sms]
enable_signup = false
enable_confirmations = false

[db]
port = 54322

[studio]
enabled = true
port = 54323